/* profile page styling */

#profile_page_pic {
    border-radius: 50%;
}

#profile_content {
    padding: 2em;
    margin-top: 3em;
}

#right_profile_div {
    font-size: 1.5em;
    text-align: center;
}

.form_element {
    border-bottom: 4px black groove;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5em;
    margin-top: 1.5em;
}

.form_element span {
    font-weight: bold;
    text-align: center;
}

.skinny {
    margin: 0 auto;
    width: auto;
}

.short_input {
    width: 40%;
    margin: 0 auto;
}
/* end profile page styling */

/* begin UserHistory styling */

.UserHistory ul {
    width: 700px;
    margin: 0 auto;
}